<% if (theme.page_stat) { %>
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>
    <div class="site-visitors-container white-text">
        <span>
            <i class="fa fa-anchor"></i>
            访客数
            <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
        </span>
        <!-- <br>
        <span>
            <i class="fa fa-at"></i>
            访问次数
            <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
        </span> -->
    </div>
<% } %>
